nav {
	height: 120px;
	width: 100vw;
	/* background: none; */
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
}

span {
	font-family: Bungee;
	margin: 1.5em;
	font-size: 1.5em;
}

.write-tweet-nav {
	margin: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-text {
	margin: 0.5em;
	font-size: smaller;
}
