.new-tweet {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 100px;
}

.tweet-text {
	font-weight: bold;
	border-bottom: solid 5px;
	width: 50vw;
	margin: 25px 0px;
}

.tweet-form {
	display: flex;
	flex-direction: column;
	width: 50vw;
}

#button-counter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

button {
	background-color: #249ce2;
	color: white;
	font-family: Bungee;
}

textarea {
	/* margin: 100px 0px; */
	background-color: #f4f1ec;
	border: none;
	outline: none;
}

.counter {
	font-family: Bungee;
}

label {
	font-weight: bold;
}

.tweet-error {
	border: solid 3px red;
	display: none;
	justify-content: center;
	margin: 1em;
	padding: 1em;
	max-height: 80px;
}

#tweet-error-text {
	color: red;
	margin: 0 10px;
	font-weight: bold;
}
